@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700&family=Roboto:wght@700&display=swap");

* {
  margin: opx;
  padding: opx;
}

.container {
  display: flex;
  width: 375px;
  height: 60px;
  color: #fff;
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center; /* Changed from 'end' to 'center' */
  flex-wrap: wrap;
}

.myLogo {
  width: 70px;
  height: 16px;
  line-height: 24px;
  margin-left: 28px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menuButton {
  width: 70px;
  height: 16px;
  line-height: 14px;
  margin-left: 28px;
  margin-right: -22px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mainSentences {
  /* background-image: url(Group.png); */
  background-repeat: no-repeat;
  background-size: initial;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 595px;
  background-color: black;

  /* background-position: left bottom; */
}

.mainSentenceText {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 100px 24px 0 24px;
}

.subSentenceText {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 12px 24px 0 24px;
  width: 327px;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
  margin-top: 0;
}

.littleParagraph {
  font-style: normal;
  font-size: 16px;
  margin-top: -24px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 24px 0 24px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.connectIcons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  width: 200px;
  height: 40px;
}

.background {
  position: absolute;
  bottom: 175px;
  right: -18px;
  width: 150px; /* Adjust the width of the image */
  height: 100px; /* Adjust the height of the image */
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
